body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: BurlyWood;
}

h1 {
  font-weight:  lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  font-family: fantasy;
  color: teal;


}
.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;

}


.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;

}

.addOption {
  margin-top: 10px;
  color: teal;
}

.showResult {
  color: teal;
}
body{background-color:BurlyWood;}
body.orange {background-color:orange;}
